<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>

	<ExtConfigure>
		<IncludeFile Path="etc\config.xml" Search="Exact" Include="First" Required="true"/>
	</ExtConfigure>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>

</configuration>